.about-popup {
	position: absolute;
	right: 100px;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	width: 250px;
	margin-bottom: 5px;
	display: flex column;
	padding: 10px;
	color: white;
}

.about-popup p {
	font-size: 20px;
}

.about-popup a {
	color: white;
}