.map-container {
  height: 100vh;
  width: 100vw;
}

.directions-control-directions {
  transition: opacity 1s;
}

.journey-sidebar {
  background-color: rgba(35, 75, 40, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 1rem;
  margin: 12px;
  border-radius: 4px;
}